/* header start from here_v */
.header_container{
    background-color: grey;
    width: 100%;
    height: 125px;
    border: 2px solid black;
}
/* header END here_v */

/* main container start from here_v */
.picture_discription{
    margin-top: 10px;
    background-color: grey;
    width: 100%;
    height: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    
}